/* General Body Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #424549;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    transition: background-color 0.8s ease-in-out;
}

/* Common Section Styles */
.section {
    border: 1px solid #333;
    padding: 20px;
    width: 90%;
    max-width: 1300px;
    background-color: #f3f3f3;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 20px 0; /* Combined margin for top and bottom */
}

/* Home Section */
.home-section {
    margin-top: 30px;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-image: url('initialdTofuShop.jpg');
    background-size: cover;
    background-position: center;
}

/* Profile Image */
.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
    margin-right: 20px;
}

/* Profile Container */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    background-color: rgba(65, 61, 61, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Typography */
.username {
    font-weight: 700;
    font-size: 2rem;
    color: #f3f3f3;
}

.biography {
    font-weight: 400;
    font-size: 1.25rem;
    color: #a6a5a5;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

/* About Section */
.about-section,
.contacts-section,
.competences-section,
.pontocup-section {
    border: 1px solid #333;
    padding: 20px;
    width: 90%;
    max-width: 1300px;
    background-color: #f3f3f3;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 20px 0; /* Combined margin for top and bottom */
}

/* Specific Section Adjustments */
.about-section,
.contacts-section,
.competences-section {
    min-height: 80vh; /* Default for most sections */
}

.pontocup-section {
    min-height: 120vh; /* Specific to pontocup */
}